$base-font-size: 16px;

/**********************************/
// Atom One Dark color scheme
$black: #282c34;

// Gray
$gray: #acacac;
$gray-light: rgba(255, 255, 255, 0.7);

// Red
$red: #e06c75;
$red-dark: darken($red, 20%);
$red-transparent: rgba($red, 0.3);

// Yellow
$yellow: #e5c07b;
$yellow-dark: darken($yellow, 20%);
$yellow-transparent: rgba($yellow, 0.3);

// Green
$green: #98c379;
$green-dark: darken($green, 20%);
$green-transparent: rgba($green, 0.3);

// Blue
$blue: #61afef;
$blue-dark: darken($blue, 20%);
$blue-transparent: rgba($blue, 0.3);

// Purple
$purple: #c678dd;
$purple-dark: darken($purple, 20%);
$purple-transparent: rgba($purple, 0.3);

/**********************************/
// Breakpoints
$breakpoint-small: 576px;
$breakpoint-medium: 768px;
$breakpoint-large: 992px;
$breakpoint-xlarge: 1200px;
