<article class="timeline-item">
  <h3 class="timeline-item__title">{{ timelineItem!.title }}</h3>
  <div class="timeline-item__bottom-group">
    <div class="timeline-item__date">
      <a>
        {{ timelineItem!.date | date }}
      </a>
    </div>
    <div
      class="timeline-item__category"
      [ngClass]="{
        book: timelineItem!.category === 'book',
        article: timelineItem!.category === 'article',
        podcast: timelineItem!.category === 'podcast',
        course: timelineItem!.category === 'course',
        tool: timelineItem!.category === 'tool',
      }"
    >
      <span>{{ timelineItem!.category }}</span>
    </div>
  </div>
</article>
