.home-header {
  margin: 0;
  background-color: #333333;
  color: white;
  padding: 40px 0;

  .saying {
    text-transform: uppercase;
    font-size: 2.8rem;
    span {
      display: block;

      &.regular {
        font-weight: 100;
      }
    }
  }
}
