@import "../../variables";

.timeline-item {
  max-width: 40%;
  color: white;

  .timeline-item__title {
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.5em;
    margin-bottom: 5px;
  }

  .timeline-item__date {
    background: rgba(255, 255, 255, 8%);
    color: rgba(255, 255, 255, 0.4);
    font-size: 0.8rem;
    text-align: center;
    width: 70px;
    border-radius: 12px;
    display: inline;
    padding: 6px 12px;
  }

  .timeline-item__category {
    background: rgba(255, 255, 255, 8%);
    display: inline;
    font-size: 0.8rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.6);
    padding: 6px 12px;
    border-left: 4px solid rgba(255, 255, 255, 0.2);
    border-left-color: rgba(255, 255, 255, 0.2);
    border-radius: 12px;
    text-transform: capitalize;

    &.book {
      color: $red;
      background: $red-transparent;
      border-left-color: $red;
    }
  }
}
